.card {
  height: 225px;
  width: 400px;
  background-color: #2b2a27;
  border-radius: 9px;
  position: relative;
  top: 30px;
  left: 550px;
}

.text-1 {
  color: white;
  font: 25px Arial;
  position: absolute;
  left: 20px;
}

.transparent_circle {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 10px;
  opacity: 0.07;
}

.design_circle {
  width: 400px;
  height: 370px;
  border-radius: 50%;
  border: 3px solid white;
  background-color: transparent;
  position: relative;
  top: -220px;
  left: 130px;
  /*   opacity : 0.01; */
}

.pincode {
  color: silver;
  font: 17px Courier New;
  position: absolute;
  top: 120px;
  left: 20px;
}

.validity_status {
  color: silver;
  font: 7px Arial;
  position: absolute;
  top: 190px;
  left: 580px;
}

.validity_date {
  color: silver;
  font: 15px Arial;
  position: absolute;
  top: 192px;
  left: 580px;
}

.name_of_the_card_holder {
  color: silver;
  font: 15px Arial;
  position: absolute;
  top: 215px;
  left: 580px;
}

.red_circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  opacity: 0.8;
  position: absolute;
  top: 201px;
  left: 850px;
  z-index: 1;
}

.yellow_circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: orange;
  position: absolute;
  top: 200px;
  left: 880px;
  /*   opacity : 0.2; */
}

#image-1 {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 110px;
  left: 590px;
}

#image-2 {
  width: 100px;
  height: 40px;
  position: absolute;
  top: 70px;
  left: 830px;
}
