.grand_parent {
  perspective: 200px;
}
.parent {
  width: 150px;
  height: 150px;
  position: relative;
  top: 500px;
  left: 500px;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.child1 {
  width: 150px;
  height: 150px;
  background-color: rgb(214, 47, 108);
  position: absolute;
}

.child2 {
  width: 150px;
  height: 150px;
  background-color: rgb(241, 99, 151);
  position: absolute;
}

.parent:hover {
  transform: rotateY(180deg);
}
